# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.LeetCode.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\LeetCode\LeetCode\.idea\.idea.LeetCode\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
